.circular--portrait {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
  
  .circular--portrait img {
    width: 100%;
    height: auto;
  }

 #img-profile-circle .img{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    Text-align: center
 }

 #wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hehe {
  

  align-items: center;
  justify-content: center;
}

