/*style forbidden 403*/

body{
	
}

.bdg{
background-image: url(../../bgm.jpg);
background-repeat: no-repeat;
background-position: center top;
background-size: cover;
background-attachment: fixed;
font-family: 'Poppins', sans-serif;
position: relative;
}

.bfrd{
position: relative;		
text-align: center;
padding-top: 100px;
}

.bfrd p{
padding: 0;
margin: auto;
color: #555;
font-size: 15px;
width: 320px;
}

.as{
padding: 22px 0;	
}

.is{

}

.tlf{
color: #1192ab;
font-weight: normal;
font-size: 19px;
letter-spacing: 3px;	
}

.afd{
font-size: 11vw;
background: -webkit-linear-gradient(#44c8f5, #19204b);
    background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color:
transparent;
margin: auto;
font-weight: 900;
}


@media screen and (max-width:986px){

.afd{
font-size: 14vw;
}
	
}

@media screen and (max-width:462px){

.afd{
font-size: 30vw;
}
		
}

@media screen and (max-width:446px){


.bfrd {
    padding-top: 14%;
}

.is {
    width: 79%;
}

.bfrd p {
    width: 79%;
}

.as {
    width: 38%;
}

}